html
  head
    link(href='view.css', rel='stylesheet')
  
  body
    table
      th
        td Name
        td Is Vegetarian
        td Reserved
    
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/lodash/dist/lodash.min.js')
    script(src="view.js")
      
      
